/* Fondo con imagen */
.login-background {
  height: 100vh;
  width: 100%;
  background-image: url('../image/FondoLogin.jpg'); /* ./FondoLogin.jpeg */ 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.login-container {
  background: white;
  padding: 40px 40px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Título */
.login-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

/* Inputs */
.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botón */
.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Recordarme y link */
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
